<div class="col-sm-12">
  <form [formGroup]="form" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" formControlName="username"> 
      <div *ngIf="!form.controls['username'].valid" class="alert alert-danger">Username is required.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="text" class="form-control" formControlName="password">
      <div *ngIf="!form.controls['password'].valid" class="alert alert-danger">Password is required.</div>
    </div>
    <button class="btn btn-primary" type="submit" >Sign Up</button>
  </form>
</div>