<div class="col-sm-12">
  <form [formGroup]="form" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" class="form-control" formControlName="username"> 
      <div *ngIf="form.controls['username'].pending">Checking for uniqueness... </div>
      <div *ngIf="form.controls['username'].touched && form.controls['username'].status == 'INVALID'">
        <div *ngIf="form.controls['username'].errors?.required" 
          class="alert alert-danger">Username is required.</div>
        <div *ngIf="form.controls['username'].errors?.ConnotContainSpace" 
          class="alert alert-danger">Username cannot contain space.</div>
        <div *ngIf="form.controls['username'].errors?.shouldBeUnique" 
          class="alert alert-danger">Username michika already exists.</div>
        <div *ngIf="form.controls['username'].errors?.invalidLogin" 
          class="alert alert-danger">Login error</div>
      </div>
      
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="text" class="form-control" formControlName="password">
      <div *ngIf="form.controls['password'].touched && form.controls['password'].status == 'INVALID'">
        <div *ngIf="!form.controls['password'].valid" 
          class="alert alert-danger">Password is required.</div>
      </div>
      
    </div>
    <button class="btn btn-primary" type="submit" >Sign Up</button>
  </form>
</div>